<p>
    <mat-toolbar>
      <a href=" "><button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button></a>
      <span> Histórias</span>
      <span class="example-spacer"></span>
      <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button> -->
      <a href="Stories"><button mat-icon-button class="example-icon"  aria-label="Example icon-button with share icon" >
        <mat-icon >bookmark_border</mat-icon> 
      </button> </a> 
    </mat-toolbar>
  </p>
<router-outlet></router-outlet>