table {
  width: 100%;
}

.button-new {
 width: 100%;
  max-width: 100%;
}

.button-new .mat-mdc-button-base {
  margin: 10px 8px 12px 0;
  margin-left: 40%;
}
.description{
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



